[submodule ".registry"]
	path = .registry
	url = https://github.com/epiforecasts/epiforecasts.r-universe.dev
	branch = HEAD
[submodule "EpiNow2"]
	path = EpiNow2
	url = https://github.com/epiforecasts/EpiNow2
	branch = v1.7.1
[submodule "EpiSoon"]
	path = EpiSoon
	url = https://github.com/epiforecasts/EpiSoon
	branch = v0.3.1
[submodule "RtD3"]
	path = RtD3
	url = https://github.com/epiforecasts/RtD3
	branch = 1.0.0
[submodule "cmdstanr"]
	path = cmdstanr
	url = https://github.com/stan-dev/cmdstanr
	registered = false
[submodule "covid19.forecasts.uk"]
	path = covid19.forecasts.uk
	url = https://github.com/epiforecasts/covid19.forecasts.uk
[submodule "covid19.nhs.data"]
	path = covid19.nhs.data
	url = https://github.com/epiforecasts/covid19.nhs.data
	branch = v0.1.0
[submodule "covidregionaldata"]
	path = covidregionaldata
	url = https://github.com/epiforecasts/covidregionaldata
	branch = 0.9.3
[submodule "epimixr"]
	path = epimixr
	url = https://github.com/sbfnk/epimixr
	branch = v0.1.0
[submodule "epinowcast"]
	path = epinowcast
	url = https://github.com/epiforecasts/epinowcast
	branch = v0.3.0
[submodule "forecast.vocs"]
	path = forecast.vocs
	url = https://github.com/epiforecasts/forecast.vocs
	branch = v0.9.0
[submodule "idbrms"]
	path = idbrms
	url = https://github.com/epiforecasts/idbrms
[submodule "loo"]
	path = loo
	url = https://github.com/stan-dev/loo
	registered = false
[submodule "lopensemble"]
	path = lopensemble
	url = https://github.com/epiforecasts/lopensemble
	branch = v0.1.0
[submodule "nfidd"]
	path = nfidd
	url = https://github.com/nfidd/nfidd
	branch = v1.0.0
[submodule "qrensemble"]
	path = qrensemble
	url = https://github.com/epiforecasts/qrensemble
	branch = v0.1.3
[submodule "quantgen"]
	path = quantgen
	url = https://github.com/ryantibs/quantgen
	subdir = quantgen
	registered = false
[submodule "rbi"]
	path = rbi
	url = https://github.com/sbfnk/RBi
	branch = v1.0.0
[submodule "rbi.helpers"]
	path = rbi.helpers
	url = https://github.com/sbfnk/rbi.helpers
	branch = v0.4.0
[submodule "scoringutils"]
	path = scoringutils
	url = https://github.com/epiforecasts/scoringutils
	branch = v2.1.0
[submodule "socialmixr"]
	path = socialmixr
	url = https://github.com/epiforecasts/socialmixr
	branch = v0.4.0
[submodule "stackr"]
	path = stackr
	url = https://github.com/nikosbosse/stackr
	registered = false
[submodule "stanedit"]
	path = stanedit
	url = https://github.com/epiforecasts/stanedit
	branch = v0.1.0
